<script setup>

import DangerButton from '@/Components/DangerButton.vue';
import InputError from '@/Components/InputError.vue';
import InputLabel from '@/Components/InputLabel.vue';
import Modal from '@/Components/Modal.vue';
import SecondaryButton from '@/Components/SecondaryButton.vue';
import TextInput from '@/Components/TextInput.vue';
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';

import {Head, useForm} from '@inertiajs/vue3';

defineProps({
    permissionsProject: {
        type: Array,
    },
});


function deleteUser (id) {
    if (window.confirm("Вы уверены, что хотите удалить этот проект?"))
    axios.delete(route('project.destroy', {id: id})).then(() => window.location.reload())
}


</script>

<template>
    <Head title="Profile" />

    <AuthenticatedLayout>

        <div class="mt-10">
            <div v-for="project in permissionsProject" :key="permissionsProject.id" class="max-w-7xl mx-auto sm:px-6 lg:px-8 space-y-6 mb-10">

                <div class="p-4 sm:p-8 bg-white shadow sm:rounded-lg">
                    <section>
                        <header class="mb-3">
                            <a class="text-xl" style="text-decoration: none;color: #0a0e14" :href="route('sipoutStatistic.index',project.id)"> <h5> {{ project.name }} </h5>  </a>
                        </header>
                      <a :href="route('sipoutStatistic.index',project.id)"><DangerButton class="mr-2" style="background: #2a7bf5">Перейти</DangerButton></a>
                        <DangerButton  @click="deleteUser(project.id)">Удалить проект</DangerButton>

                    </section>
                </div>

            </div>
        </div>
        <div class="py-3">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8 space-y-6 mb-10">

                <div class="p-4 sm:p-8 bg-white shadow sm:rounded-lg">
                    <section>
                        <header class="mb-3">
                            <h5> Добавить проект </h5>
                        </header>
                        <form method="POST" :action="route('createProject.store')" class="form-inline">
                            <div class="mb-3 t">
                                <label for="name" class="col-form-label md-3 font-medium mr-3 "> Напишите имя нового проекта </label>
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <input class="form-control" id="name" name="name" >
                                        <span class="input-group-append">
                                      <button type="submit" class="btn btn-primary">Создать проект</button>
                                    </span>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </section>
                </div>

            </div>
        </div>


    </AuthenticatedLayout>

</template>

