@tailwind base;
@tailwind components;
@tailwind utilities;

.borderGlushko {
    border-style: solid;
    border-width: 1px;
    border-color: #ced4da;
    border-radius: 5px;

    width:500px;
    height:40px;
    padding: 10px;
}

.thCoolspan2 {
    position: sticky;
    top: 35px;
    background-color: #fff !important;
    z-index: 10;
    font-weight: 400;
    text-align: center;
    padding-left: 5px
}

.leftRadius5 {
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
}
.rightRadius5 {
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}

th.th-second {
    padding-left: 50px !important;
}

.checkboxFont{
    font-weight: 400;
}

.clickable-element:hover {
    cursor: pointer;
}

.zoom-effect:hover {
    transform: scale(1.1); /* Увеличивает размер элемента в 1.1 раза */
    transition: transform 0.3s ease; /* Добавляет плавность анимации */
}

.inputMaks {
    border-radius: var(--bs-border-radius) !important;
    border: var(--bs-border-width) solid var(--bs-border-color)!important;
}

.textarea-margin {
    margin-right: 15px;
    margin-left: 15px;
}

.row > .textarea-margin:first-child {
    margin-left: 0;
}

.row > .textarea-margin:last-child {
    margin-right: 0;
}

.textarea-input {
    background: transparent;
    border-radius: 5px;
    border: 1px solid #ced4da;
}

.close {
    color: #fff;
    transform: scale(1.2)
}

@media (max-width: 767px) {
    .mobile-no-padding {
        padding: 0 !important;
    }
}


.glushkoSmallBox {
    min-width: 250px;
    margin-right: 20px;
}

.login {
    padding: 6px 20px;
    border-radius: 15px;
    background: none;
    border: 2px solid #ffffff;
    color: #ffffff;
    font-weight: bold;
    transition: all .5s;
    margin-top: 1em;
}
.login:hover {
    background: #FAB87F;
    color: #fff;
}
.close {
    color: #fff;
    transform: scale(1.2);
}
.dealInfo {
    justify-content: space-between;
    margin-top: 5px;
    color: #f8f1ff;
    display: flex;
    padding: 3px;
    border-color: #f8f1ff;
    font-weight: normal;
}
.hr-shelf {
    margin: auto;
    padding: 2px;
    border: none;
    border-bottom: 1px solid #a4a4a4;
    box-shadow: 0 20px 20px -20px #333;
    width: 85%;
}

.textarea-element {
    background-color: rgba(0, 0, 0, 0);
    margin-bottom: 24px;
    font-size: 12px;
    width: 250px;
    justify-content: start;
    display: flex;
    flex-direction: column;
    border-radius: 0.25rem;
}

.input-opacity {
    background-color: rgba(0, 0, 0, 0) !important;
    border-color: rgba(0, 0, 0, 0)
}

.labelTelegram{
    width: 100%;
    text-align: start;
    color: white;
}

.input-opacity {
    background-color: rgba(0, 0, 0, 0) !important;
    border-color: rgba(0, 0, 0, 0)
}

.label {
    width: 80px;
    height: 80px;
    margin: 5px;
    text-align: center;
    background-color: rgba(0, 0, 0, .18);
    border-radius: 50%;
    font-size: 14px;
    font-weight: 400;
    color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay{
    overflow: hidden;
    height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    -webkit-transition: -webkit-box-shadow .25s;
    -moz-transition: box-shadow .25s;
    -o-transition: box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    border-radius: 2px;
    background-color: #fff;
    padding: 15px;
    color: #fff;
    box-sizing: border-box !important;
}

.description{
    font-weight: 300;
    flex: 1 0 auto;
    text-align: right;
}

.calc_result_item{
    margin-bottom: 30px;
}

.gradient-45deg-semi-dark{
    -webkit-box-shadow: 0 6px 20px 0 rgba(51, 105, 230, .5) !important;
    box-shadow: 0 6px 20px 0 rgba(51, 105, 230, .5) !important;
    border-radius: 5px;
    background: linear-gradient(-90deg, #00aeff, #3369e6) !important;
}


.gradient-45deg-deep-orange-orange{
    -webkit-box-shadow: 0 6px 20px 0 rgb(241, 95, 121) !important;
    background: #B24592;
    background: -webkit-linear-gradient(45deg, #B24592, #F15F79) !important;
}

.boxes {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px
}

.value {
    font-weight: 800;
    color: #ffffff;
    font-size: 25px
}

.rub:after {
    content:'₽';
}

.percent:after {
    content:'%';
}

.minutes {
    content:'минут';
}

span.tooltip_2 {
    position: relative;
    display: inline-block;
    color: #4e52ff;
    cursor: pointer;
}
.tooltip_link {
    display: none;
    z-index: 10;
    padding: 7px 30px;
    text-align: left;
    width: max-content;
}

.waba_outgoing {
    display: flex;
    align-items: flex-end;
    padding: 0.5rem;
    height: fit-content;
    width: fit-content;
    background: #E0FCD6;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05)
}

.waba_in {
    display: flex;
    align-items: flex-end;
    padding: 0.5rem;
    height: fit-content;
    width: fit-content;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05)
}

span.tooltip_2:hover .tooltip_link {
    display: block;
    position: absolute;
    color: #fff;
    background: #000;
    border-radius: 4px;
    bottom: 25px;
    left: 0;
    z-index: 10;
    padding: 7px 30px;
    text-align: left;
    width: max-content;
}

.whatsapp-header-template {
    background-color: #f7f7f7;
    text-align: center;
    width: 400px;
    padding: 15px;
    font-weight: 800;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.whatsapp-message {
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 12px;
    width: 280px;
    background-color: #f7f7f7;
    border-radius: 10px;
    padding: 3px;
}
.message-header {
    background-color: #f7f7f7;
    padding: 10px 15px;
    font-weight: bold;
    border-bottom: 1px solid #d9d9d9;
}

.message-body {
    /*padding: 5px;*/
    font-size: 14px;
    line-height: 1.5;
    background-color: rgba(0, 0, 0, 0);
    overflow: hidden; /* Скрытие полос прокрутки */
    resize: none; /* Отключаем возможность изменения размера вручную */
}

.message-body p {
    margin: 0 0 10px;
}

.message-body a {
    color: #1a73e8;
    text-decoration: none;
    word-break: break-word;
}

.message-body a:hover {
    text-decoration: underline;
}

.message-footer {
    position: relative;
    background-color: #f7f7f7;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #d9d9d9;
}


.waba-button {
    color: #4f8ff1;
    background: transparent;
    border: none;
    /*padding: 10px 20px;*/
    border-radius: 5px;
    cursor: pointer;
}

.whatsapp-background {
    background-image: url('../images/waba/bg.jpg');
    display: flex;
    align-items: flex-start;
    width: 400px;
    height: 700px;
    background-size: cover;
    background-position: center;
    border: 1px solid #d9d9d9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex-direction: column-reverse;
}
._6xe4 {
    color: #282828;
    font-size: 14px;
    /*white-space: pre-wrap;*/
    /*white-space-collapse: preserve;*/
    overflow-wrap: break-word;
    text-align: initial;
}

.custom-textarea {
    line-height: 1.5;
    background-color: rgba(0, 0, 0, 0);
    width: 250px;
    overflow: hidden; /* Скрытие полос прокрутки */
    resize: none; /* Отключаем возможность изменения размера вручную */
}

.whatsapp-header-template {
    background-color: #f7f7f7;
    text-align: center;
    width: 400px;
    padding: 15px;
    font-weight: 800;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.whatsapp-message {
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 12px;
    width: 280px;
    background-color: #f7f7f7;
    border-radius: 10px;
    padding: 3px;
}
.message-header {
    background-color: #f7f7f7;
    padding: 10px 15px;
    font-weight: bold;
    border-bottom: 1px solid #d9d9d9;
}

.message-body {
    /*padding: 5px;*/
    font-size: 14px;
    line-height: 1.5;
    background-color: rgba(0, 0, 0, 0);
    overflow: hidden; /* Скрытие полос прокрутки */
    resize: none; /* Отключаем возможность изменения размера вручную */
}

.message-body p {
    margin: 0 0 10px;
}

.message-body a {
    color: #1a73e8;
    text-decoration: none;
    word-break: break-word;
}

.message-body a:hover {
    text-decoration: underline;
}

.message-footer {
    position: relative;
    background-color: #f7f7f7;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #d9d9d9;
}


.waba-button {
    color: #4f8ff1;
    background: transparent;
    border: none;
    /*padding: 10px 20px;*/
    border-radius: 5px;
    cursor: pointer;
}


._6xe4 {
    color: #282828;
    font-size: 14px;
    /*white-space: pre-wrap;*/
    /*white-space-collapse: preserve;*/
    overflow-wrap: break-word;
    text-align: initial;
}


.close {
    color: #fff;
    transform: scale(1.2)
}



.login {
    padding: 6px 20px;
    border-radius: 15px;
    background: none;
    border: 2px solid #ffffff;
    color: #ffffff;
    font-weight: bold;
    transition: all .5s;
    margin-top: 1em;
}
.login:hover {
    background: #FAB87F;
    color: #fff;
}
.close {
    color: #fff;
    transform: scale(1.2);
}
.dealInfo {
    justify-content: space-between;
    margin-top: 5px;
    color: #f8f1ff;
    display: flex;
    padding: 3px;
    border-color: #f8f1ff;
    font-weight: normal;
}
.hr-shelf {
    margin: auto;
    padding: 2px;
    border: none;
    border-bottom: 1px solid #a4a4a4;
    box-shadow: 0 20px 20px -20px #333;
    width: 85%;
}

.textarea-element {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    margin-bottom: 24px;
    font-size: 12px;
    width: 250px;
    justify-content: start;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.05);
    padding: 10px
}
.labelTelegram{
    width: 100%;
    text-align: start;
    color: white;
}

.input-opacity {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0)
}

.label {
    width: 70px;
    height: 70px;
    margin: 5px;
    text-align: center;
    background-color: rgba(0, 0, 0, .18);
    border-radius: 50%;
    font-size: 14px;
    font-weight: 400;
    color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay{
    overflow: hidden;
    height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    -webkit-transition: -webkit-box-shadow .25s;
    -moz-transition: box-shadow .25s;
    -o-transition: box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    border-radius: 2px;
    background-color: #fff;
    padding: 15px;
    color: #fff;
    box-sizing: border-box !important;
}

.description{
    font-weight: 300;
    flex: 1 0 auto;
    text-align: right;
}

.calc_result_item{
    margin-bottom: 30px;
}

.gradient-45deg-semi-dark{
    -webkit-box-shadow: 0 6px 20px 0 rgba(51, 105, 230, .5) !important;
    box-shadow: 0 6px 20px 0 rgba(51, 105, 230, .5) !important;
    border-radius: 5px;
    background: linear-gradient(-90deg, #00aeff, #3369e6) !important;
}


.gradient-45deg-deep-orange-orange{
    -webkit-box-shadow: 0 6px 20px 0 rgb(241, 95, 121) !important;
    background: #B24592;
    background: -webkit-linear-gradient(45deg, #B24592, #F15F79) !important;
}

.boxes {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px
}

.value {
    font-weight: 800;
    color: #ffffff;
    font-size: 25px
}

.rub:after {
    content:'₽';
}

.percent:after {
    content:'%';
}


.input-file {
    position: relative;
    display: inline-block;
}
.input-file span {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    font-size: 14px;
    vertical-align: middle;
    color: #ffffff;
    text-align: center;
    border-radius: 4px;
    background-color: #2c73fd;
    height: 40px;
    padding: 10px 20px;
    box-sizing: border-box;
    border: none;
    margin: 0;
    transition: background-color 0.2s;
}
.input-file input[type=file] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
}

/* Focus */
.input-file input[type=file]:focus + span {
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

/* Hover/active */
.input-file:hover span {
    background-color: #59be6e;
}
.input-file:active span {
    background-color: #2E703A;
}

/* Disabled */
.input-file input[type=file]:disabled + span {
    background-color: #eee;
}

.btnSok {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    outline: none;
    font-size: 14px;
    vertical-align: middle;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    border-radius: 4px;
    background-color: #2c73fd;
    height: 40px;
    padding: 10px 20px;
    box-sizing: border-box;
    border: none;
}
.btnSok:hover{
    background-color: #0500a6;
    color: #ffffff;
}

.btnSok:active  {
    background-color: #2c73fd;
}

.minutes {
    content:'минут';
}

.background-input-transparent {
    background-color: transparent !important;
}

.text-truncates{
    overflow: hidden;           /* Обрезает текст, выходящий за пределы контейнера */
    text-overflow: ellipsis;    /* Добавляет многоточие в конце обрезанного текста */
}

.dot-leader {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.dot-leader::after {
    content: "";
    flex-grow: 1;
    border-bottom: 1px dotted #000;
    margin: 0 10px;
}

.tg_bg {
    background-image: url('../images/telegram/tg_bg.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}



