<template>
<div class="calc_result_item col-12 col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-4">
  <slot />
</div>
</template>

<script>
export default {
  name: 'CalculatorResult'
}
</script>
