
<script>
import round from "../../../../public/plugins/uplot/uPlot.esm";

import CalculatorResult from "@/Components/Calculator/CalculatorResult.vue";
import InputCalculator from "@/Components/Calculator/InputCalculator.vue";

export default {
  components: {
    InputCalculator,CalculatorResult
  },

  data() {
    return {
      moneyBudget: '10000',
      leadPrice: '80',
      leads: '0',
      assignedMeetConvertion: '30',
      assignedMeet: '0',
      meetConvertion: '60',
      meet: '0',
      salesConvertion: '20',
      sales: '0',
      checkMoney: '49000',
      sumMoney: '0',
      romi: '0',
      profit: '0',
    }
  },
  methods: {
    newNumber() {
      this.leads =  this.moneyBudget / this.leadPrice
      this.leads = this.leads.toFixed(0)

      this.assignedMeet = this.leads * this.assignedMeetConvertion/100
      this.assignedMeet = this.assignedMeet.toFixed(0)

      this.meet = this.assignedMeet * this.meetConvertion/100
      this.meet = this.meet.toFixed(0)

      this.sales = this.meet * this.salesConvertion/100
      this.sales = this.sales.toFixed(0)

      this.sumMoney = this.checkMoney * this.sales
      this.sumMoney = this.sumMoney.toFixed(0)

      this.profit = this.sumMoney - this.moneyBudget
      this.profit = this.profit.toFixed(0)

      this.romi = (this.sumMoney - this.moneyBudget)/this.moneyBudget*100
      this.romi = this.romi.toFixed(0)
    },
  },
  mounted() {
    this.leads =  this.moneyBudget / this.leadPrice
    this.leads = this.leads.toFixed(0)

    this.assignedMeet = this.leads * this.assignedMeetConvertion/100
    this.assignedMeet = this.assignedMeet.toFixed(0)

    this.meet = this.assignedMeet * this.meetConvertion/100
    this.meet = this.meet.toFixed(0)

    this.sales = this.meet * this.salesConvertion/100
    this.sales = this.sales.toFixed(0)

    this.sumMoney = this.checkMoney * this.sales
    this.sumMoney = this.sumMoney.toFixed(0)

    this.profit = this.sumMoney - this.moneyBudget
    this.profit = this.profit.toFixed(0)

    this.romi = (this.sumMoney - this.moneyBudget)/this.moneyBudget*100
    this.romi = this.romi.toFixed(0)
  }

}

</script>


<template>



    <div class="content-wrapper">

      <div class="row justify-content-center mb-3">

        <div class="col-12 col-sm-12 col-md-12 col-lg-8 mt-5">

          <div class="card">
            <div class="card-header">
              <div class="p-2 d-flex justify-content-center">
                <div class="text-center"> <h5>Расчёт окупаемости диагностической воронки </h5></div>
                <div></div>
              </div>
            </div>


            <div class="card-body d-flex justify-content-center">
              <div class="row">
                <InputCalculator>
                  <label for="moneyBudget" class="mb-2 font-semibold"> Бюджет на трафик</label>
                  <div class="input-group">
                    <input id="moneyBudget" @change="newNumber" v-model="moneyBudget" type="number" class="inputMaks form-control" name="moneyBudget" autofocus>
                    <span class="input-group-append">
                                        <a class="btn btn-outline-light active font-bold">₽</a>
                                </span>
                  </div>
                </InputCalculator>
                <InputCalculator>
                  <label for="leadPrice" class="mb-2 font-semibold">Цена лида</label>
                  <div class="input-group">
                    <input id="leadPrice" @change="newNumber" v-model="leadPrice" type="number" class="inputMaks form-control" name="leadPrice" autofocus>
                    <span class="input-group-append">
                                        <a class="btn btn-outline-light active font-bold">₽</a>
                                </span>
                  </div>
                </InputCalculator>
                <InputCalculator>
                  <label for="assignedMeetConvertion" class="mb-2 font-semibold">Лид > Назначено</label>
                  <div class="input-group">
                    <input id="assignedMeetConvertion" @change="newNumber" v-model="assignedMeetConvertion"  type="number" class="inputMaks form-control" name="assignedMeetConvertion">
                    <span class="input-group-append">
                                        <a class="btn btn-outline-light active font-bold">%</a>
                                </span>
                  </div>
                </InputCalculator>
                <InputCalculator>
                  <label for="meetConvertion" class="mb-2 font-semibold">Назначено > Состоялась</label>
                  <div class="input-group">
                    <input id="meetConvertion" @change="newNumber" v-model="meetConvertion"  type="number" class="inputMaks form-control" name="meetConvertion">
                    <span class="input-group-append">
                                        <a class="btn btn-outline-light active font-bold">%</a>
                                </span>
                  </div>
                </InputCalculator>
                <InputCalculator>
                  <label for="salesConvertion" class="mb-2 font-semibold">Конверсия диагностик</label>
                  <div class="input-group">
                    <input id="salesConvertion" @change="newNumber" v-model="salesConvertion"  type="number" class="inputMaks form-control" name="salesConvertion">
                    <span class="input-group-append">
                                        <a class="btn btn-outline-light active font-bold">%</a>
                                </span>
                  </div>
                </InputCalculator>
                <InputCalculator>
                  <label for="checkMoney" class="mb-2 font-semibold">Чек продаж</label>
                  <div class="input-group">
                    <input id="checkMoney" @change="newNumber" v-model="checkMoney"  type="number" class="inputMaks form-control" name="checkMoney">
                    <span class="input-group-append">
                                        <a class="btn btn-outline-light active font-bold">₽</a>
                                </span>
                  </div>
                </InputCalculator>
              </div>


            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center mt-5">
        <div class="col-12 col-sm-12 col-md-12 col-lg-8 mt-3">
          <div class="row justify-content-center">
            <CalculatorResult>
              <div class="d-flex gradient-45deg-semi-dark justify-content-between boxes">
                <div class="label">Лиды</div>
                <div class="description">
                  <div class="value">
                                <span >
                                    {{ leads }}
                                </span>
                  </div>
                  <div style="font-weight: 300;color: #d7faff">штук</div>
                </div>
              </div>
            </CalculatorResult>
            <CalculatorResult>
              <div class="d-flex gradient-45deg-semi-dark justify-content-between boxes">
                <div class="label">Эфир</div>
                <div class="description">
                  <div class="value">
                                <span >
                                    {{ meet }}
                                </span>
                  </div>
                  <div style="font-weight: 300;color: #d7faff">Встреч состоится</div>
                </div>
              </div>
            </CalculatorResult>
            <CalculatorResult>
              <div class="d-flex justify-content-between boxes gradient-45deg-semi-dark">
                <div class="label">Продаж</div>
                <div class="description">
                  <div class="value">
                                <span >
                                    {{ sales }}
                                </span>
                  </div>
                  <div style="font-weight: 300;color: #d7faff">Штук</div>
                </div>
              </div>
            </CalculatorResult>
            <CalculatorResult>
              <div class="d-flex gradient-45deg-semi-dark justify-content-between boxes">
                <div class="label">Доход</div>
                <div class="description">
                  <div class="value">
                                <span class="rub">
                                    {{ sumMoney }}
                                </span>
                  </div>
                  <div style="font-weight: 300;color: #d7faff">Рублей</div>
                </div>
              </div>
            </CalculatorResult>
            <CalculatorResult>
              <div class="d-flex gradient-45deg-deep-orange-orange justify-content-between boxes">
                <div class="label">Прибыль</div>
                <div class="description">
                  <div class="value">
                                <span >
                                    {{ profit }} ₽
                                </span>
                  </div>
                  <div style="font-weight: 300;color: #d7faff">Рублей</div>
                </div>
              </div>
            </CalculatorResult>
            <CalculatorResult>
              <div class="d-flex gradient-45deg-deep-orange-orange justify-content-between boxes">
                <div class="label">ROMI</div>
                <div class="description">
                  <div class="value">
                                <span >
                                    {{ romi }}%
                                </span>
                  </div>
                  <div style="font-weight: 300;color: #d7faff">Процентов</div>
                </div>
              </div>
            </CalculatorResult>
          </div>
        </div>
      </div>

    </div>

</template>