<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import { Head } from '@inertiajs/vue3';
import PayLoadLayout  from '@/Layouts/PayLoadLayout.vue';
import InputCalculator from "@/Components/Calculator/InputCalculator.vue";
import CalculatorResult from "@/Components/Calculator/CalculatorResult.vue";

</script>

<script>
import round from "../../../../public/plugins/uplot/uPlot.esm";

export default {
    data() {
        return {
            moneyBudget: '10000',
            leadPrice: '70',
            leads: '0',
            goToWeb: '25',
            peopleToWeb: '0',
            webConvertion: '20',
            intensivePeople: '25',
            intensiveConvertion: '25',
            intensiveCheck: '490',
            sales: '0',
            checkMoney: '49000',
            sumMoney: '0',
            romi: '0',
            profit: '0',
        }
    },
    methods: {
        newNumber() {
            this.leads =  this.moneyBudget / this.leadPrice
            this.leads = this.leads.toFixed(0)
            this.peopleToWeb = this.leads * this.goToWeb/100
            this.peopleToWeb = this.peopleToWeb.toFixed(0)

            this.intensivePeople = this.peopleToWeb * this.webConvertion/100
            this.intensivePeople = this.intensivePeople.toFixed(0)

            this.intensiveProfit = this.intensivePeople * this.intensiveCheck
            this.intensiveProfit = this.intensiveProfit.toFixed(0)

            this.sales = this.intensivePeople * this.intensiveConvertion/100
            this.sales = this.sales.toFixed(0)

            this.sumMoney = (this.checkMoney * this.sales) + (this.intensivePeople * this.intensiveCheck)
            this.sumMoney = this.sumMoney.toFixed(0)

            this.profit = this.sumMoney - this.moneyBudget
            this.profit = this.profit.toFixed(0)

            this.romi = (this.sumMoney - this.moneyBudget)/this.moneyBudget*100
            this.romi = this.romi.toFixed(0)

        },
    },
    mounted() {
        this.leads =  this.moneyBudget / this.leadPrice
        this.leads = this.leads.toFixed(0)
        this.peopleToWeb = this.leads * this.goToWeb/100
        this.peopleToWeb = this.peopleToWeb.toFixed(0)

        this.intensivePeople = this.peopleToWeb * this.webConvertion/100
        this.intensivePeople = this.intensivePeople.toFixed(0)

        this.intensiveProfit = this.intensivePeople * this.intensiveCheck
        this.intensiveProfit = this.intensiveProfit.toFixed(0)

        this.sales = this.intensivePeople * this.intensiveConvertion/100
        this.sales = this.sales.toFixed(0)

        this.sumMoney = (this.checkMoney * this.sales) + (this.intensivePeople * this.intensiveCheck)
        this.sumMoney = this.sumMoney.toFixed(0)

        this.profit = this.sumMoney - this.moneyBudget
        this.profit = this.profit.toFixed(0)

        this.romi = (this.sumMoney - this.moneyBudget)/this.moneyBudget*100
        this.romi = this.romi.toFixed(0)

    }
}
</script>


<template>
    <Head title="Dashboard" />

    <PayLoadLayout>


    <div class="content-wrapper">

        <div class="row justify-content-center mb-5">

          <div class="col-12 col-sm-12 col-md-12 col-lg-8 mt-5 p-3">

                <div class="card">
                    <div class="card-header">
                        <div class="p-2 d-flex justify-content-center">
                            <div class="text-center"> <h5>Расчёт окупаемости воронки трехдневника </h5></div>
                        </div>
                    </div>



                    <div class="card-body d-flex justify-content-center">
                      <div class="row justify-content-center">
                        <InputCalculator>
                          <label for="moneyBudget" class="mb-2 font-semibold"> Бюджет на трафик</label>
                              <div class="input-group">
                                  <input id="moneyBudget" @change="newNumber" v-model="moneyBudget" type="number" class="inputMaks form-control" name="moneyBudget" autofocus>
                                  <span class="input-group-append">
                                          <a class="btn btn-outline-light active font-bold">₽</a>
                                  </span>
                              </div>
                        </InputCalculator>
                      <InputCalculator>
                        <label for="leadPrice" class="mb-2 font-semibold">Цена лида</label>
                              <div class="input-group">
                                  <input id="leadPrice" @change="newNumber" v-model="leadPrice" type="number" class="inputMaks form-control" name="leadPrice" autofocus>
                                  <span class="input-group-append">
                                          <a class="btn btn-outline-light active font-bold">₽</a>
                                  </span>
                              </div>
                      </InputCalculator>
                  <InputCalculator>
                    <label for="goToWeb" class="mb-2 font-semibold">Доведение до вебинара</label>
                              <div class="input-group">
                                  <input id="goToWeb" @change="newNumber" v-model="goToWeb"  type="number" class="inputMaks form-control" name="goToWeb">
                                  <span class="input-group-append">
                                          <a class="btn btn-outline-light active font-bold">%</a>
                                  </span>
                              </div>
                  </InputCalculator>
                        <InputCalculator>
                              <label for="webConvertion" class="mb-2 font-semibold">Конверcия вебинара</label>
                              <div class="input-group">
                                  <input id="webConvertion" @change="newNumber" v-model="webConvertion"  type="number" class="inputMaks form-control" name="webConvertion">
                                  <span class="input-group-append">
                                          <a class="btn btn-outline-light active font-bold">%</a>
                                  </span>
                              </div>
                        </InputCalculator>
                        <InputCalculator>
                          <label for="intensiveCheck" class="mb-2 font-semibold">Цена интенсива</label>
                          <div class="input-group">
                            <input id="intensiveCheck" @change="newNumber" v-model="intensiveCheck" type="number" class="inputMaks form-control" name="intensiveCheck" autofocus>
                            <span class="input-group-append">
                                        <a class="btn btn-outline-light active font-bold">₽</a>
                                </span>
                          </div>
                        </InputCalculator>
                        <InputCalculator>
                          <label for="intensiveConvertion" class="mb-2 font-semibold"> Конверсия интенсива</label>
                          <div class="input-group">
                            <input id="intensiveConvertion" @change="newNumber" v-model="intensiveConvertion" type="number" class="inputMaks form-control" name="intensiveConvertion" autofocus>
                            <span class="input-group-append">
                                        <a class="btn btn-outline-light active font-bold">%</a>
                                </span>
                          </div>
                        </InputCalculator>
                        <InputCalculator>
                          <label for="checkMoney" class="mb-2 font-semibold"> Чек курса</label>
                          <div class="input-group">
                            <input id="checkMoney" @change="newNumber" v-model="checkMoney" type="number" class="inputMaks form-control" name="checkMoney" autofocus>
                            <span class="input-group-append">
                                        <a class="btn btn-outline-light active font-bold">₽</a>
                                </span>
                          </div>
                        </InputCalculator>
                      </div>
                    </div>
                </div>
            </div>
        </div>

      <div class="row justify-content-center mt-5">
        <div class="col-12 col-sm-12 col-md-12 col-lg-8 mt-3">
          <div class="row justify-content-center">
            <CalculatorResult>
              <div class="d-flex gradient-45deg-semi-dark justify-content-between boxes">
                <div class="label">Лиды</div>
                <div class="description">
                  <div class="value">
                                <span >
                                    {{ leads }}
                                </span>
                  </div>
                  <div style="font-weight: 300;color: #d7faff">штук</div>
                </div>
              </div>
            </CalculatorResult>
            <CalculatorResult>
              <div class="d-flex gradient-45deg-semi-dark justify-content-between boxes">
                <div class="label">Эфир</div>
                <div class="description">
                  <div class="value">
                                <span >
                                    {{ peopleToWeb }}
                                </span>
                  </div>
                  <div style="font-weight: 300;color: #d7faff">Участников вебинара</div>
                </div>
              </div>
            </CalculatorResult>
            <CalculatorResult>
              <div class="d-flex justify-content-between boxes gradient-45deg-semi-dark">
                <div class="label">Интенсив</div>
                <div class="description">
                  <div class="value">
                                <span >
                                    {{ intensivePeople }}
                                </span>
                  </div>
                  <div style="font-weight: 300;color: #d7faff">Штук</div>
                </div>
              </div>
            </CalculatorResult>
            <CalculatorResult>
              <div class="d-flex justify-content-between boxes gradient-45deg-semi-dark">
                <div class="label">Продаж
                  курса
                </div>
                <div class="description">
                  <div class="value">
                                <span >
                                    {{ sales }}
                                </span>
                  </div>
                  <div style="font-weight: 300;color: #d7faff">Штук</div>
                </div>
              </div>
            </CalculatorResult>
            <CalculatorResult>
              <div class="d-flex gradient-45deg-semi-dark justify-content-between boxes">
                <div class="label">Доход</div>
                <div class="description">
                  <div class="value">
                                <span class="rub">
                                    {{ sumMoney }}
                                </span>
                  </div>
                  <div style="font-weight: 300;color: #d7faff">Рублей</div>
                </div>
              </div>
            </CalculatorResult>
            <CalculatorResult>
              <div class="d-flex gradient-45deg-deep-orange-orange justify-content-between boxes">
                <div class="label">Прибыль</div>
                <div class="description">
                  <div class="value">
                                <span >
                                    {{ profit }} ₽
                                </span>
                  </div>
                  <div style="font-weight: 300;color: #d7faff">Рублей</div>
                </div>
              </div>
            </CalculatorResult>
            <CalculatorResult>
              <div class="d-flex gradient-45deg-deep-orange-orange justify-content-between boxes">
                <div class="label">ROMI</div>
                <div class="description">
                  <div class="value">
                                <span >
                                    {{ romi }}%
                                </span>
                  </div>
                  <div style="font-weight: 300;color: #d7faff">Процентов</div>
                </div>
              </div>
            </CalculatorResult>

          </div>

        </div>
      </div>

    </div>
    </PayLoadLayout>

</template>
